
$black:#000;
$white:#fff;
$grey:#C2C3C1;
$dark-green:#2AC084;
$light-grey:#eee;
$light-grey-2:#908E8E;
$dark-grey:#3A3335;
$blue:#4FABFF;
$purple: #C573C0;
$pink:#E96E81;
$green: #6ED69B;
$progressBarColour: #F2F2F2;
$progressValueColour: #17BAB3;
$left:          left;
$right:          right;
$text-center:   center;
$bold:          bold;
$no-decoration: none;
$inline-block:      inline-block;
$block:         block;
$flex:         flex;
$both:         both;
$uppercase:  uppercase;
$no-decoration: none;
$no-padding:    0;
$Rubik: "Rubik-Regular";


